<% include ../partials/header_desktop %>

<!-- banner -->
<div class="banner-text">
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li class="banner">
                <div class="container">
                    <h3 class="agile_btxt">
                        <span>J</span>EWELRY
                        <span>h</span>ub
                    </h3><br />
                    <h4 class="w3_bbot">shop exclusive Jewlries</h4>
                    <div class="slider-info mt-sm-5">
                        <h4 class="bn_right">
                            <span>W</span>omen's
                            <span>j</span>ewelry</h4>
                        <div class="bnr_clip position-relative">
                            <h4>get up to
                                <span class="px-2">10% </span>
                            </h4>
                            <div class="d-inline-flex flex-column banner-pos position-absolute text-center">
                                <div class="bg-flex-item">
                                    <span>O</span>
                                </div>
                                <div class="bg-flex-item">
                                    <span>F</span>
                                </div>
                                <div class="bg-flex-item">
                                    <span>F
                                    </span>
                                </div>
                            </div>
                            <p class="text-uppercase py-2">on special sale</p>
                            <a class="btn btn-primary mt-3 text-capitalize" href="/products/all" role="button">shop now</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="banner banner2">
                <div class="container">
                    <h3 class="agile_btxt">
                        <span>J</span>EWELRY
                        <span>h</span>ub
                    </h3>
                    <h4 class="w3_bbot">shop exclusive clothing</h4>
                    <div class="slider-info mt-sm-5">
                        <h4 class="bn_right">
                            <span>m</span>en's
                            <span>j</span>ewelry</h4>
                        <div class="bnr_clip position-relative">
                            <h4>get up to
                                <span class="px-2">25% </span>
                            </h4>
                            <div class="d-inline-flex flex-column banner-pos position-absolute text-center">
                                <div class="bg-flex-item">
                                    <span>O</span>
                                </div>
                                <div class="bg-flex-item">
                                    <span>F</span>
                                </div>
                                <div class="bg-flex-item">
                                    <span>F
                                    </span>
                                </div>
                            </div>
                            <p class="text-uppercase py-2">on special sale</p>
                            <a class="btn btn-primary mt-3 text-capitalize" href="/products/all" role="button">shop now</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="banner banner3">
                <div class="container">
                    <h3 class="agile_btxt">
                        <span>J</span>EWELRY
                        <span>h</span>ub
                    </h3>
                    <h4 class="w3_bbot">shop exclusive clothing</h4>
                    <div class="slider-info mt-sm-5">
                        <h4 class="bn_right">
                            <span>k</span>id's
                            <span>j</span>ewelry</h4>
                        <div class="bnr_clip position-relative">
                            <h4>get up to
                                <span class="px-2">40% </span>
                            </h4>
                            <div class="d-inline-flex flex-column banner-pos position-absolute text-center">
                                <div class="bg-flex-item">
                                    <span>O</span>
                                </div>
                                <div class="bg-flex-item">
                                    <span>F</span>
                                </div>
                                <div class="bg-flex-item">
                                    <span>F
                                    </span>
                                </div>
                            </div>
                            <p class="text-uppercase py-2">on special sale</p>
                            <a class="btn btn-primary mt-3 text-capitalize" href="/products/all" role="button">shop now</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- //banner -->
<!--services-->
<div class="agileits-services" id="services">
    <div class="no-gutters agileits-services-row row">
        <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
            <span class="fas fa-sync-alt p-4"></span>
            <h4 class="mt-2 mb-3">30 days replacement</h4>
        </div>
        <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
            <span class="fas fa-gift p-4"></span>
            <h4 class="mt-2 mb-3">Custom Designs</h4>
        </div>

        <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
            <span class="fas fa-lock p-4"></span>
            <h4 class="mt-2 mb-3">secure payments</h4>
        </div>
        <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
            <span class="fas fa-shipping-fast p-4"></span>
            <h4 class="mt-2 mb-3">free shipping</h4>
        </div>
    </div>
</div>
<!-- //services-->
<!-- about -->
<div class="row no-gutters pb-5">
    <div class="col-sm-4">
        <div class="hovereffect">
            <img class="img-fluid" src="images/a1.jpg" alt="" >
            <div class="overlay">
                <h5>women's jewelry</h5>
                <a class="info" href="/products/Women">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="hovereffect">
            <img class="img-fluid" src="images/a2.jpg" alt="">
            <div class="overlay">
                <h5>men's jewelry</h5>
                <a class="info" href="/products/Men">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="hovereffect">
            <img class="img-fluid" src="images/a3.jpg" alt="">
            <div class="overlay">
                <h5>kid's jewelry</h5>
                <a class="info" href="/products/Boys">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- product tabs -->
<section class="tabs_pro py-md-5 pt-sm-3 pb-5">
    <h5 class="head_agileinfo text-center text-capitalize pb-5">
        <span>s</span>mart Jewelry</h5>
    <div class="tabs tabs-style-line pt-md-5">
        <nav class="container">
            <ul id="clothing-nav" class="nav nav-tabs tabs-style-line" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#women" id="women-tab" role="tab" data-toggle="tab" aria-controls="women" aria-expanded="true">Women's Jewelry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#men" role="tab" id="men-tab" data-toggle="tab" aria-controls="men">Men's Jewelry
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#girl" role="tab" id="girl-tab" data-toggle="tab" aria-controls="girl">Girl's Jewelry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#boy" role="tab" id="boy-tab" data-toggle="tab" aria-controls="boy">Boy's Jewelry</a>
                </li>
            </ul>
        </nav>
        <!-- Content Panel -->
        <div id="clothing-nav-content" class="tab-content py-sm-5">
            <div role="tabpanel" class="tab-pane fade show active" id="women" aria-labelledby="women-tab">
                <div id="owl-demo" class="owl-carousel text-center">
                  <%productsWomen.forEach(function(product) {%>
                    <div class="item">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="/images/products/<%= product.image1%>" alt="img" class="card-img-top">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="/product/single/<%= product._id%>" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize"><%= product.product_name%></h5>
                                <div class="card-text d-flex justify-content-between">
                                  <p class="text-dark font-weight-bold ">$<span id="product_price<%=product._id%>"><%= product.price%></span></p>
                                    <p class="line-through">$<%= product.prev_price%></p>
                                </div>
                            </div>
                            <div class=" card-footer ">
                                   <div class="row">
                                     <div class="col-md-6">
                                       <div style="float:left;">
                                         <span style="color:#ff7043"><%= product.discount ? product.discount + "% OFF" : "" %></span>
                                       </div>
                                     </div>
                                     <div class="col-md-6">
                                       <div style="float:right">
                                         <button type="submit" class="hub-cart phub-cart btn addToCart" id="<%= product._id%>">
                                           <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                         </button>
                                       </div>
                                     </div>
                                   </div>
                           </div>
                        </div>
                        <!-- //card -->
                    </div>
                    <% }) %>




                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="men" aria-labelledby="men-tab">
                <div id="owl-demo1" class="owl-carousel text-center">
                  <%productsMen.forEach(function(product) {%>
                    <div class="item">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="/images/products/<%= product.image1%>" alt="img" class="card-img-top">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="/product/single/<%= product._id%>" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize"><%= product.product_name%></h5>
                                <div class="card-text d-flex justify-content-between">
                                  <p class="text-dark font-weight-bold ">$<span id="product_price<%=product._id%>"><%= product.price%></span></p>
                                    <p class="line-through">$<%= product.prev_price%></p>
                                </div>
                            </div>
                            <div class=" card-footer ">
                                   <div class="row">
                                     <div class="col-md-6">
                                       <div style="float:left;">
                                         <span style="color:#ff7043"><%= product.discount ? product.discount + "% OFF" : "" %></span>
                                       </div>
                                     </div>
                                     <div class="col-md-6">
                                       <div style="float:right">
                                         <button type="submit" class="hub-cart phub-cart btn addToCart" id="<%= product._id%>">
                                           <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                         </button>
                                       </div>
                                     </div>
                                   </div>
                           </div>
                        </div>
                        <!-- //card -->
                    </div>
                    <% }) %>





                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="girl" aria-labelledby="girl-tab">
                <div id="owl-demo2" class="owl-carousel text-center">
                  <%productsGirls.forEach(function(product) {%>
                    <div class="item">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="/images/products/<%= product.image1%>" alt="img" class="card-img-top">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="/product/single/<%= product._id%>" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize"><%= product.product_name%></h5>
                                <div class="card-text d-flex justify-content-between">
                                  <p class="text-dark font-weight-bold ">$<span id="product_price<%=product._id%>"><%= product.price%></span></p>
                                    <p class="line-through">$<%= product.prev_price%></p>
                                </div>
                            </div>
                            <div class=" card-footer ">
                                   <div class="row">
                                     <div class="col-md-6">
                                       <div style="float:left;">
                                         <span style="color:#ff7043"><%= product.discount ? product.discount + "% OFF" : "" %></span>
                                       </div>
                                     </div>
                                     <div class="col-md-6">
                                       <div style="float:right">
                                         <button type="submit" class="hub-cart phub-cart btn addToCart" id="<%= product._id%>">
                                           <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                         </button>
                                       </div>
                                     </div>
                                   </div>
                           </div>
                        </div>
                        <!-- //card -->
                    </div>
                    <% }) %>






                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="boy" aria-labelledby="boy-tab">
                <div id="owl-demo3" class="owl-carousel text-center">
                  <%productsBoys.forEach(function(product) {%>
                    <div class="item">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="/images/products/<%= product.image1%>" alt="img" class="card-img-top">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="/product/single/<%= product._id%>" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize"><%= product.product_name%></h5>
                                <div class="card-text d-flex justify-content-between">
                                  <p class="text-dark font-weight-bold ">$<span id="product_price<%=product._id%>"><%= product.price%></span></p>
                                    <p class="line-through">$<%= product.prev_price%></p>
                                </div>
                            </div>

                            <div class=" card-footer ">
                                   <div class="row">
                                     <div class="col-md-6">
                                       <div style="float:left;">
                                         <span style="color:#ff7043"><%= product.discount ? product.discount + "% OFF" : "" %></span>
                                       </div>
                                     </div>
                                     <div class="col-md-6">
                                       <div style="float:right">
                                         <button type="submit" class="hub-cart phub-cart btn addToCart" id="<%= product._id%>">
                                           <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                         </button>
                                       </div>
                                     </div>
                                   </div>
                           </div>
                        </div>

                        <!-- //card -->
                    </div>
                    <% }) %>








                </div>
            </div>

        </div>
    </div>
</section>
<!-- //product tabs -->
