<div class="left-side">
        <h3 class="shopf-sear-headits-sear-head">
            Categories</h3>
         <ul>
                   <li>
                        <input type="radio" class="checked" name="cat1" id="cat1" value="all" <%= selected === "all" ? "checked" : ""%>>
                        <label >All</label>
                    </li>

            <li>
                <input type="radio" class="checked" name="cat1" id="cat1" value="Men" <%= selected === "Men" ? "checked" : ""%>>
                <label >Men</label>
            </li>
            <li>
                <input type="radio" class="checked" name="cat1" id="cat1" value="Women" <%= selected === "Women" ? "checked" : ""%>>
                <label >Women</label>
            </li>
            <li>
                <input type="radio" class="checked" name="cat1" id="cat1" value="Girls" <%= selected === "Girls" ? "checked" : ""%>>
                <label >Girl's</label>
            </li>
            <li>
                <input type="radio" class="checked" name="cat1" id="cat1" value="Boys" <%= selected === "Boys" ? "checked" : ""%>>
                <label >Boys</label>
            </li>

        </ul>
        <h3 class="shopf-sear-headits-sear-head" >
            Discount</h3>
         <ul>
                   <li>
                        <input type="radio" class="checked" name="discount" id="discount" value="5" <%= selected === "5" ? "checked" : ""%>>
                        <label >5%</label>
                    </li>

            <li>
                <input type="radio" class="checked" name="discount" id="discount" value="10" <%= selected === "10" ? "checked" : ""%>>
                <label >10%</label>
            </li>
            <li>
                <input type="radio" class="checked" name="discount" id="discount" value="15" <%= selected === "15" ? "checked" : ""%>>
                <label >15%</label>
            </li>
            <li>
                <input type="radio" class="checked" name="discount" id="discount" value="20" <%= selected === "20" ? "checked" : ""%>>
                <label >20%</label>
            </li>
            <li>
                <input type="radio" class="checked" name="discount" id="discount" value="40" <%= selected === "40" ? "checked" : ""%>>
                <label >40%</label>
            </li>


        </ul>
    </div>
